<h1>Listing amigos</h1>

<table>
  <tr>
    <th>Amigouno</th>
    <th>Amigodos</th>
  </tr>

<% @amigos.each do |amigo| %>
  <tr>
    <td><%=h amigo.amigo_uno_id %></td>
    <td><%=h amigo.amigo_dos_id %></td>
    <td><%= link_to 'Show', amigo %></td>
    <td><%= link_to 'Edit', edit_amigo_path(amigo) %></td>
    <td><%= link_to 'Destroy', amigo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New amigo', new_amigo_path %>