<h1>Editando a <%= @usuario.nickname.capitalize%></h1>

<% form_for  (@usuario, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>


<%= f.file_field :imagenPerfil %>

	<p>
    <%= f.label :nickname, "Nickname" %><br />
    <%= f.text_field :nickname, :disabled => "disabled" %>
  </p>
  <p>
    <%= f.label :nombre, "Nombre" %><br />
    <%= f.text_field :nombre %>
  </p>
  <p>
    <%= f.label :apellido_paterno, "Apellido Paterno" %><br />
    <%= f.text_field :apellido_paterno %>
  </p>
  <p>
    <%= f.label :apellido_materno, "Apellido Materno"%><br />
    <%= f.text_field :apellido_materno %>
  </p>
  <p>
    <%= f.label "Sexo" %><br />
    <%= f.label :sexo_masculino, "Masculino" %><%= f.radio_button("sexo", "Masculino") %><br />
		<%= f.label :sexo_femenino, "Femenino" %><%= f.radio_button("sexo", "Femenino") %>
  </p>
  <p>
    <%= f.label :telefono, "Telefono" %><br />
    <%= f.text_field :telefono %>
  </p>
  <p>
    <%= f.label :fecha_nacimiento, "Fecha de nacimiento" %><br />
    <%= f.date_select :fecha_nacimiento, :start_year => Time.now.year-60, :end_year => Time.now.year-18,
						:prompt => { :day => "Día" , :month => 'Mes', :year => 'Año' } %>
  </p>
  <p>
    <%= f.label :email, "Correo Electronico" %><br />
    <%= f.text_field :email, :disabled => "disabled"%>
  </p>
  <p>
    <%= f.label :carrera, 'Carrera' %><br />
    <%= f.select :carrera,
             Usuario::CARRERA,
            :prompt => "Selecciona una carrera "%>
  </p>
  <p>
    <%= f.submit 'Actualizar' %>
  </p>
<% end %>

<%= link_to 'Regresar', :action => "perfil" %>
