<h1>Registrate</h1>

<% form_for(@usuario) do |f| %>

  <div>
	  <%= f.label :nombre, "Nombre" %><br />
    <%= f.text_field :nombre %>
		<%= error(@usuario, "nombre") %>
  </div>
	<br />
	<div>
	  <%= f.label :nickname, "Nombre de usuario" %><br />
    <%= f.text_field :nickname %>
		<%= error(@usuario, "nickname") %>
  </div>
	<br />
  <div>
		<%= f.label :password, "Password" %><br />
    <%= f.password_field :password %>
		<%= error(@usuario, "password") %>
  </div>
	<br />
  <div>
		<%= f.label :password_confirmation, "Confirmacion" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
	<br />
  <div>
		<%= f.label :email, "Correo Electronico" %><br />
    <%= f.text_field :email %>
		<%= error(@usuario, "email") %>
  </div>
	<br />
  <div>
    <%= f.select :carrera,
             Usuario::CARRERA,
            :prompt => "Selecciona una carrera"%>
		<%= error(@usuario, "carrera") %>
  </div>
	<br />
  <div>
    <%= f.submit 'Registrar' %>
  </div>
	<br />
<% end %>

