
<fieldset>
	<legend><h2>Tus datos</h2></legend>

	<%= image_tag @usuario.imagenPerfil(:medium) %><br />
	<table>
		<tr>
			<td>Nombre:</td>
			<td><%= @usuario.nombre.capitalize %> <%= @usuario.apellido_paterno %> <%= @usuario.apellido_materno %></td>
		</tr>
		<tr>
			<td>Nickname:</td>
			<td><%= @usuario.nickname %></td>
		</tr>
		<tr>
			<td>Sexo:</td>
			<td><%= @usuario.sexo %></td>
		</tr>
		<tr>
			<td>Telefono:</td>
			<td><%= @usuario.telefono %></td>
		</tr>
		<tr>
			<td>Email:</td>
			<td><%= @usuario.email %></td>
		</tr>
		<tr>
			<td>Reputacion:</td>
			<td><%= image_tag @usuario.reputacion.to_s+'stars.png' %></td>
		</tr>
	</table>
	<br />
<%= link_to "Edita tus datos", edit_usuario_path(session[:user_id]) %>
</fieldset>

<br/>
<fieldset style="border:none;background-color:#EEEEEE; -webkit-border-radius:6px;">
	<legend><h3>Tus Artículos en Venta</h3></legend>
	<% @enVenta.each do |a| %>
		<%=link_to a.nombre, edit_articulo_path(a.id) %> <%= number_to_currency(a.precio) %><br/>
	<% end %>
</fieldset>
<br />
<fieldset style="border:none;background-color:#EEEEEE; -webkit-border-radius:6px;">
	<legend><h3>Tus Artículos Comprados</h3></legend>
	<% @comprados.each do |a| %>
		<%=link_to a.nombre, articulo_path(a.id) %> <%= number_to_currency(a.precio) %><br/>
	<% end %>
</fieldset>
<br />
<fieldset style="border:none;background-color:#EEEEEE; -webkit-border-radius:6px;">
	<legend><h3>Tus Artículos en Proceso de venta</h3></legend>
	<% @enProcesoVenta.each do |a| %>
		<%=link_to a.nombre, articulo_path(a.id) %> <%= number_to_currency(a.precio) %><br/>
	<% end %>
</fieldset>
