<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<%= stylesheet_link_tag "template"%>
	<%= javascript_include_tag 'prototype'  %>
	<title>El tianguis</title>
</head>

<body>
	<div class="todo">
		<div class = "logo">
			<%= image_tag ("logoMenor.png")%>
			<% if session[:user_id] == nil %>
					<%= link_to "Iniciar sesión", login_path %>			
			<% else %>
				<%= link_to "Cerrar sesión", :controller => "acceso", :action => "logout" %>
			<% end %>
		</div>
		<div class="menu">
			<%= button_to "busqueda", busqueda_articulos_path %> <%= link_to "Perfil", perfil_path %> | Comprar | Vender | Mi canasta
		</div>
		<div class="pagina">
			<div class="banderas"></div>
			<div class="content">
				<%= flash[:notice]%>
				<%= yield %>
			</div>
			<div class="abajo"></div>
		</div>
	</div>
</body>
</html>
