<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<%= stylesheet_link_tag "template"%>
<%= javascript_include_tag :defaults %>
	<title><%= title%></title>
</head>

<body>
	<div class="todo">
		<div id="menu">
			<% unless session[:user_id] == nil %>
			<div class="opcion">
				<%= link_to "Perfil", perfil_path %>
			</div>
			<div class="opcion">
				<%= link_to "Vender", new_articulo_path %>
			</div>
			<div class="opcion">
				<%= link_to "Mi canasta", canasta_path %>
			</div>
			<% end %>
		</div>
		<div class = "logo">
			<%= image_tag ("logoMenor.png")%>
		</div>
		<div class="menu">
			<% if session[:user_id] == nil %>
					<%= link_to "Iniciar sesión", login_path %>			
			<% else %>
				<%= link_to "Cerrar sesión", :controller => "acceso", :action => "logout" %>
			<% end %>
			<% form_tag({:controller => "articulos", :action => "busqueda"}, :method => "get") do%>
				<%= submit_tag "Buscar", :name => "" %>
				<%= text_field_with_auto_complete :articulo, :nombre,
					{:placeholder => "Busqueda"}, { :url => formatted_articulos_path(:js), :method => :get, :with => "'busqueda=' + element.value"} %>
			<% end %>
		</div>
		<div class="pagina">
			<div class="banderas"></div>
			<div class="content">
				<%= flash[:notice]%>
				<%= yield %>
			</div>
			<div class="abajo"></div>
		</div>
	</div>
</body>
</html>
