<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>El tianguis - ¡Llevele! ¡Llevele!</title>
	<%= stylesheet_link_tag "index"%>
</head>

<body>
	<div class="todo">
		<div class="pollitos">
			<%= image_tag ("logo.png") %>
			<%= image_tag ("polloMorado.png") %>
			<%= image_tag ("polloNaranja.png"), :style => "position:relative;left:30%"%>
		</div>
		<div class="contenido">
			<% form_tag({:controller => "articulos", :action => "busqueda"}, :method => "get") do%>
				<%= text_field_tag "busca" %>
				<%= submit_tag "", :name => "" %>
			<% end %>
			<div>
				<%= link_to "Inicia Secci&oacute;n", login_path %><br />
				<%= link_to "Registrate!", signup_path %>
			</div>
		</div>
	</div>
</body>
</html>