<div class="Articulos">
	<div class = "contenido">
		<table>
			<tr>
				<td rowspan="3"><a href="<%= articulo_path(articulo.id) %>"><%= image_tag articulo.imagenUno(:medium) %></a></td>
				<td><%= link_to articulo.nombre, articulo_path(articulo.id) %></td>
			</tr>
			<tr>
				<td><%= number_to_currency articulo.precio %></td>
			</tr>
			<tr>
				<td><%= articulo.descripcion_corta %></td>
			</tr>
		</table>
		
	</div>
	<% if articulo.status == 0 %>
		<%= button_to '', {:controller => "articulo", :action => "comprar", :id => articulo.id}, :class => "btnComprar" %>
	<% else %>
		<%= button_to '', {:controller => "usuarios", :action => "comprar",
			:id => articulo.id}, :class => "btnComprar", :disabled => "disabled"%>
	<% end %>
</div>
