<div class="Articulos">
	<div class = "contenido">
		<%= link_to articulo.nombre, articulo_path(articulo.id)  %><br/>
		<%= articulo.descripcion_corta %><br/>
		<%= number_to_currency(articulo.precio) %><br/>
	</div>
	<% if articulo.status == 0 %>
		<%= button_to '', {:controller => "usuarios", :action => "comprar", :id => articulo.id}, :class => "btnComprar" %>
	<% else %>
		<%= button_to '', {:controller => "usuarios", :action => "comprar",
			:id => articulo.id}, :class => "btnComprar", :disabled => "disabled"%>
	<% end %>
</div>