<% form_for(@articulo) do |f| %>

  <div>
		<%= f.label :nombre, "Nombre" %><br />
    <%= f.text_field :nombre, :placeholder => "Nombre del articulo" %>
		<%= error(@articulo, "nombre") %>
  </div>
	<br/>
  <div>
		<%= f.label :precio, "Precio" %><br />
    <%= f.text_field :precio, :placeholder => "$$$" %>
		<%= error(@articulo, "precio") %>
  </div>
	<br/>
  <div>
    <%= f.label :imagen_uno %><br />
    <%= f.text_field :imagen_uno %>
  </div>
	<br/>
  <div>
    <%= f.label :imagen_dos %><br />
    <%= f.text_field :imagen_dos %>
  </div>
	<br/>
  <div>
    <%= f.label :imagen_tres %><br />
    <%= f.text_field :imagen_tres %>
  </div>
	<br/>
  <div>
    <%= f.label :imagen_cuatro %><br />
    <%= f.text_field :imagen_cuatro %>
  </div>
	<br/>
  <div>
		<%= f.label :cantidad, "Cantidad" %><br />
    <%= f.text_field :cantidad, :placeholder => "Cuantos tienes?" %>
		<%= error(@articulo, "cantidad") %>
  </div>
	<br/>
  <div>
    <%= f.label :descripcion_corta %><br />
    <%= f.text_field :descripcion_corta, :size => 70 %><br />
		<%= error(@articulo, "descripcion_corta") %>
  </div>
	<br/>
  <div>
    <%= f.label :descripcion %><br />
    <%= f.text_area :descripcion, :cols => 60, :rows => 10 %><br />
		<%= error(@articulo, "descripcion") %>
  </div>
    <%= f.hidden_field :vendedor_id %>
	<br/>
	<div>
	Categorias <br />
	<% n = 0 %>
	<% f.fields_for :categorias do |c| %>
    <%= c.check_box :nombre, {}, Categoria::CATEGORIAS[n][1], "" %>
		<%= Categoria::CATEGORIAS[n][0] %><br />
		<% n += 1 %>
	<% end %>
	</div>
	<br/>
  <div>
    <%= f.submit 'Create' %>
  </div>
<% end %>

<%= link_to 'Back', perfil_path %>
