<% form_for (@articulo, :html => { :multipart => true }) do |f| %>
	<%= f.error_messages %>
  <div>
		<%= f.label :nombre, "Nombre:" %><br />
    <%= f.text_field :nombre, :placeholder => "Nombre del articulo" %>
		<%= error(@articulo, "nombre") %>
  </div>
	<br/>
  <div>
		<%= f.label :precio, "Precio:" %><br />
    <%= f.text_field :precio, :placeholder => "$$$" %>
		<%= error(@articulo, "precio") %>
  </div>
	<br/>
  <div>
     <%= f.label :imagen_uno, "Imagen uno:" %><br />
    <%= f.file_field :imagenUno %>
  </div>
	<br/>
  <div>
    <%= f.label :imagen_dos, "Imagen dos:" %><br />
    <%= f.file_field :imagenDos %>
  </div>
	<br/>
  <div>
    <%= f.label :imagen_tres, "Imagen tres:" %><br />
    <%= f.file_field :imagenTres %>
  </div>
	<br/>
  <div>
    <%= f.label :imagen_cuatro, "Imagen cuatro:" %><br />
    <%= f.file_field :imagenCuatro %>
  </div>
	<br/>
  <div>
		<%= f.label :cantidad, "Cantidad:" %><br />
    <%= f.text_field :cantidad, :placeholder => "Cuantos tienes?" %>
		<%= error(@articulo, "cantidad:") %>
  </div>
	<br/>
  <div>
    <%= f.label :descripcion_corta %><br />
    <%= f.text_field :descripcion_corta, :size => 70 %><br />
		<%= error(@articulo, "descripcion_corta") %>
  </div>
	<br/>
  <div>
    <%= f.label :descripcion %><br />
    <%= f.text_area :descripcion, :cols => 60, :rows => 10 %><br />
		<%= error(@articulo, "descripcion") %>
  </div>
    <%= f.hidden_field :vendedor_id %>
	<br/>
  <div>
    <%= f.label :categoria_id %><br />
    <%= f.text_field :categoria_id %>
		<%= error(@articulo, "categoria") %>
  </div>
	<br/>
  <div>
    <%= f.submit 'Aceptar' %>
  </div>
<% end %>
<br />
<%= link_to 'Regresar', perfil_path %>
