<h1>Listing articulos</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Precio</th>
    <th>Imagenuno</th>
    <th>Imagendos</th>
    <th>Imagentres</th>
    <th>Imagencuatro</th>
    <th>Cantidad</th>
    <th>Descripcion</th>
    <th>Status</th>
    <th>Categoria</th>
    <th>Usuario</th>
  </tr>

<% @articulos.each do |articulo| %>
  <tr>
    <td><%=h articulo.Nombre %></td>
    <td><%=h articulo.Precio %></td>
    <td><%=h articulo.ImagenUno %></td>
    <td><%=h articulo.ImagenDos %></td>
    <td><%=h articulo.ImagenTres %></td>
    <td><%=h articulo.ImagenCuatro %></td>
    <td><%=h articulo.Cantidad %></td>
    <td><%=h articulo.Descripcion %></td>
    <td><%=h articulo.Status %></td>
    <td><%=h articulo.Categoria_id %></td>
    <td><%=h articulo.Usuario_id %></td>
    <td><%= link_to 'Show', articulo %></td>
    <td><%= link_to 'Edit', edit_articulo_path(articulo) %></td>
    <td><%= link_to 'Destroy', articulo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New articulo', new_articulo_path %>