<h1>Vendiendo</h1>

<% form_for(@articulo) do |f| %>
  <%= f.error_messages %>
	
  <p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre, :placeholder => "Nombre del articulo" %>
  </p>
  <p>
    <%= f.label :precio %><br />
    <%= f.text_field :precio, :placeholder => "Precio" %>
  </p>
  <p>
    <%= f.label :cantidad %><br />
    <%= f.text_field :cantidad, :placeholder => "Cuantos tienes?" %>
  </p>
  <p>
    <%= f.label :descripcion %><br />
    <%= f.text_area :descripcion, :cols => 60, :rows => 10,  :placeholder => "Breve descripcion" %>
  </p>
    <%= f.hidden_field :vendedor_id %>
  <p>
    <%= f.label :categoria_id %><br />
    <%= f.text_field :categoria_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>



<%= link_to 'Back', articulos_path %>
