<h1>Vendiendo</h1>

<% form_for(@articulo) do |f| %>
  <%= f.error_messages %>
  <div>
		<%= f.label :nombre, "Nombre" %><br />
    <%= f.text_field :nombre, :placeholder => "Nombre del articulo" %>
  </div>
	<br/>
  <div>
		<%= f.label :precio, "Precio" %><br />
    <%= f.text_field :precio, :placeholder => "$$$" %>
  </div>
	<br/>
  <div>
    <%= f.label :imagen_uno %><br />
    <%= f.text_field :imagen_uno %>
  </div>
	<br/>
  <div>
    <%= f.label :imagen_dos %><br />
    <%= f.text_field :imagen_dos %>
  </div>
	<br/>
  <div>
    <%= f.label :imagen_tres %><br />
    <%= f.text_field :imagen_tres %>
  </div>
	<br/>
  <div>
    <%= f.label :imagen_cuatro %><br />
    <%= f.text_field :imagen_cuatro %>
  </div>
	<br/>
  <div>
		<%= f.label :cantidad, "Cantidad" %><br />
    <%= f.text_field :cantidad, :placeholder => "Cuantos tienes?" %>
  </div>
	<br/>
  <div>
    <%= f.label :descripcion %><br />
    <%= f.text_area :descripcion, :cols => 60, :rows => 10 %>
  </div>
    <%= f.hidden_field :vendedor_id %>
	<br/>
  <div>
    <%= f.label :categoria_id %><br />
    <%= f.text_field :categoria_id %>
  </div>
	<br/>
  <div>
    <%= f.submit 'Create' %>
  </div>
<% end %>

<%= link_to 'Back', articulos_path %>
